n8n_workflow_cloud.json
{
  "name": "GEM Bid Extractor Cloud",
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "cronExpression",
              "expression": "0 9 * * *"
            },
            {
              "field": "cronExpression",
              "expression": "0 18 * * *"
            }
          ]
        }
      },
      "name": "Twice Daily (9AM + 6PM)",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.2,
      "position": [220, 320],
      "id": "schedule-1"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{$env.GEM_RUNNER_URL}}/run",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "=Bearer {{$env.GEM_RUNNER_TOKEN}}"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\"source\":\"n8n-cloud\",\"ts\":\"{{$now}}\"}",
        "options": {
          "timeout": 1800000,
          "response": {
            "response": {
              "responseFormat": "json"
            }
          }
        }
      },
      "name": "Call Runner API",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [520, 320],
      "id": "http-1"
    },
    {
      "parameters": {
        "conditions": {
          "string": [
            {
              "value1": "={{$json.status}}",
              "operation": "equal",
              "value2": "success"
            }
          ]
        }
      },
      "name": "Was Successful?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 1,
      "position": [760, 320],
      "id": "if-1"
    },
    {
      "parameters": {
        "functionCode": "return [{ json: { status: 'success', at: new Date().toISOString(), details: $json } }];"
      },
      "name": "Log Success",
      "type": "n8n-nodes-base.function",
      "typeVersion": 1,
      "position": [1020, 240],
      "id": "ok-1"
    },
    {
      "parameters": {
        "functionCode": "return [{ json: { status: 'failed', at: new Date().toISOString(), details: $json } }];"
      },
      "name": "Log Failure",
      "type": "n8n-nodes-base.function",
      "typeVersion": 1,
      "position": [1020, 420],
      "id": "err-1"
    }
  ],
  "connections": {
    "Twice Daily (9AM + 6PM)": {
      "main": [
        [
          {
            "node": "Call Runner API",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Call Runner API": {
      "main": [
        [
          {
            "node": "Was Successful?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Was Successful?": {
      "main": [
        [
          {
            "node": "Log Success",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Log Failure",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1",
    "timezone": "Asia/Kolkata"
  }
}
