n8n_workflow.json
{
  "name": "GEM Bid Extractor",
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "cronExpression",
              "expression": "0 9 * * *"
            },
            {
              "field": "cronExpression",
              "expression": "0 18 * * *"
            }
          ]
        }
      },
      "name": "Twice Daily (9AM + 6PM)",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.2,
      "position": [260, 300],
      "id": "schedule-1"
    },
    {
      "parameters": {
        "command": "cd \"C:\\Users\\WiJungle\\Desktop\\Gem Bid Extractor\"; python main.py",
        "timeout": 600
      },
      "name": "Run Extractor",
      "type": "n8n-nodes-base.executeCommand",
      "typeVersion": 1,
      "position": [520, 400],
      "id": "exec-1"
    },
    {
      "parameters": {
        "conditions": {
          "number": [
            {
              "value1": "={{ $json.exitCode }}",
              "value2": 0
            }
          ]
        }
      },
      "name": "Check Exit Code",
      "type": "n8n-nodes-base.if",
      "typeVersion": 1,
      "position": [760, 400],
      "id": "if-1"
    },
    {
      "parameters": {
        "functionCode": "const out = $input.first().json.stdout || '';\nconsole.log('GEM Extractor OK:', out.slice(-300));\nreturn [{json: {status: 'success', output: out.slice(-500)}}];"
      },
      "name": "Log Success",
      "type": "n8n-nodes-base.function",
      "typeVersion": 1,
      "position": [1000, 300],
      "id": "ok-1"
    },
    {
      "parameters": {
        "functionCode": "const err = $input.first().json.stderr || $input.first().json.stdout || '';\nconsole.error('GEM Extractor FAIL:', err.slice(-500));\nreturn [{json: {status: 'failed', error: err.slice(-500)}}];"
      },
      "name": "Log Error",
      "type": "n8n-nodes-base.function",
      "typeVersion": 1,
      "position": [1000, 500],
      "id": "err-1"
    }
  ],
  "connections": {
    "Twice Daily (9AM + 6PM)": {
      "main": [[{"node": "Run Extractor", "type": "main", "index": 0}]]
    },
    "Run Extractor": {
      "main": [[{"node": "Check Exit Code", "type": "main", "index": 0}]]
    },
    "Check Exit Code": {
      "main": [
        [{"node": "Log Success", "type": "main", "index": 0}],
        [{"node": "Log Error", "type": "main", "index": 0}]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1",
    "timezone": "Asia/Kolkata"
  }
}
